.header {
  padding: 0.5vh 1vw;
  display: flex;
  justify-content: end;
}

.langButton,
.massButton,
.iconbutton,
.exitIcon {
  padding: 0.5vw;
}

.massButton {
  img {
    width: 22px;
    height: 24px;
  }
}

.langButton,
.iconbutton,
.exitIcon {
  img {
    width: 24px;
    height: 24px;
  }
}
