.modalReg {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modalReg.active {
    opacity: 1;
    pointer-events: all;
}

.modalRegContent {
    padding: 20px;
    border-radius: 12px;
    background-color: #f4decd;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.5);
    transition: 0.4s all;
    font-size: 30px;
    color: #9c6035;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modalRegContent.active {
    transform: scale(1);
}

.modalRegContent input {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    font-size: 20px;
    border: 2px solid #9c6035;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttonsContainer button {
    flex: 1;
    padding: 10px;
    font-size: 20px;
    margin: 0 10px;
    border-radius: 8px;
    cursor: pointer;
}

.buttonsContainer button:first-child {
    background-color: #9c6035;
    color: white;
    border: none;
}

.buttonsContainer button:last-child {
    background-color: #f4decd;
    border: 2px solid #9c6035;
}
