.renameModal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.renameModal.active {
    opacity: 1;
    pointer-events: all;
}

.renameModalContent {
    padding: 20px;
    border-radius: 12px;
    background-color: #f4decd;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.5);
    transition: 0.4s all;
    font-size: 30px;
    color: #9c6035;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.renameModalContent.active {
    transform: scale(1);
}

.renameModalContent h3 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #9c6035;
    text-align: center;
}

.renameModalContent input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    font-size: 30px;
    border: 2px solid #9c6035;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
}

.renameModalContent input:focus {
    border-color: #6c4a2b;
    background-color: #e4cbb4;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttonsContainer button {
    flex: 1;
    padding: 10px 15px;
    font-size: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.buttonsContainer button:first-child {
    background-color: #9c6035;
    color: #fff;
}

.buttonsContainer button:first-child:hover {
    background-color: #6c4a2b;
}

.buttonsContainer button:last-child {
    background-color: #f4decd;
    color: #9c6035;
    border: 2px solid #9c6035;
}

.buttonsContainer button:last-child:hover {
    background-color: #e4cbb4;
}
