* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .back {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 4.8vh;
    height: auto;
  }
  
  .containerMain {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 50vw;
    max-width: 414px;
    height: 80vh;
    max-height: 624px;
    min-height: 410px;
    overflow: hidden;
  }
  
  .login-box {
    padding: 7vh 2.2vw 0 2.2vw;
    width: 48vw;
    height: 88vh;
    min-height: 380px;
  }
  
  .choice {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    border-bottom: 2px solid #9c6035;
    padding-bottom: 1vh;
  
    h2 {
      cursor: pointer;
      font-size: clamp(1.5rem, 4vw, 30px);
      color: #9c6035;
  
      &.active {
        font-weight: 900;
      }
  
      &.passive {
        font-weight: 200;
      }
    }
  }
  
  .input-group {
    margin-bottom: 3vh;
  
    label {
      padding: 5px;
      display: block;
      font-size: clamp(12px, 2vw, 15px);
      color: #9c6035;
      margin-bottom: 5px;
    }
  
    input {
      width: 100%;
      padding: 1vh;
      border: 1px solid #9c6035;
      border-radius: 20px;
    }
  }
  
  .inPut {
    padding-top: 3vh;
  }
  
  .login-btn {
    width: 100%;
    padding: 1vh;
    background-color: #8b4513;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: clamp(12px, 2vw, 18px);
  
    &:hover {
      background-color: #a0522d;
    }
  }
  
  .social-login {
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-top: 2vw;
    text-align: center;
  }
  
  .social-icons {
    justify-content: center;
    display: flex;
    column-gap: 3vw;
  
    img {
      width: 3vw;
      height: 3vw;
    }
  }
  